:root {
  --primary-color: #c9e265;
  --notification-color: rgb(241, 100, 100);
  --shadow-box: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --card-text: #505350;
  --hover-color: #9dcfbc;
}

.primary-button {
  color: var(--text-color);
  border: transparent;
  font-family: sans-serif;
}

.content {
  color: var(--text-color);
}

.card-button {
  color: var(--text-color);
}

.card-button:hover {
  background-color: var(--hover-color);
}

.fas:hover {
  color: var(--hover-color);
}

.search__box {
  width: 100%;
  border-radius: 5px;
  padding: 0.7rem 0.4rem;
  outline: none;
  border-width: 0;
  border: 1px solid;
  padding-left: 3rem;
  margin-top: 1rem;
  border: 1px solid var(--primary-color);
}

.search__icon {
  bottom: 1.8rem;
  left: 1rem;
  position: relative;
  color: var(--primary-color);
}
