@import url(/main.css);
@import url(/index.css);

.nav-container{
    box-shadow: var(--shadow-box);
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter-and-category{
display: flex;
flex-direction: column;
 grid-area: scroller;
overflow: hidden;
position: sticky;
top: 0;
align-self: start;
margin-top: 1.5rem;
color: var(--primary-color);
box-shadow: none;
color: var(--text-color);
min-width: 250px;
font-family: 'Open Sans', sans-serif;
}

.price-range{
    justify-content: flex-start;
   gap: 2.5rem;
}



.scroll-input{
    flex-direction: column ;
    gap: 0.5rem;
    align-items: flex-start;
}

.product-listing-body{
    display: flex;
}


.product-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 2rem;
}



.card-skeleton{
    height: 100%;
    box-shadow: var(--shadow-box);
}


/*   For image poditioning  (start)       */


.imageContainer{
    height: 50%;
}

.image{
    object-fit: fill;
    width: 100%;
}

/*   For image poditioning   (end)      */


@media screen and (max-width:1200px){
    .product-container{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}



@media screen and (max-width:1000px){
    .product-container{
        grid-template-columns: 1fr 1fr ;
    }
}



@media screen and (max-width:800px){
    .product-container{
        grid-template-columns: 1fr;
    }
}





