@import url(/main.css);
@import url(/index.css);
@import url(/WebPages/productListing/productlist.css);


.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex-wrap: wrap;
    gap: 2rem;
}

.button-cart{
    margin-top: 1rem;
    color: white;
}

.price-card{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 300px;
    height: 300px;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: var(--shadow-box);
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color)
}

.price-calculation{
    gap: 1rem;
}

.price-components{
    justify-content: space-between;
    padding: .2rem 0 ;
}

.total-amount{
    justify-content: space-between;
}

.divider{
    color: var(--text-color);
}

.image-horizontal{
    border-radius: 1rem;
}



